<ul>
  <li>
    <a routerLink="admin/login">Login</a>&nbsp;
    <a routerLink="/admin/list">List</a>
  </li>
</ul>
 <nav>
  <ul>
    <li><a routerLink="/home">Home</a></li>

    <li><a routerLink="/service">Service</a></li>
    <li><a routerLink="/about">About</a></li>
    <li><a routerLink="/edit/1">First Employee</a></li>
    <li><a routerLink="/edit/2">Scond Employee</a></li>
    <li><a routerLink="/edit/3">Third Employee</a></li>

    <li><a routerLink="/employeelist/id">Employee List</a></li>
    <li><a routerLink="/event/">Event List</a></li>
    


  </ul>

</nav>
<br>


<table>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <tr *ngFor="let sch od scheduleData">
    <td>{{sch.id}}</td>
    <td>{{sch.driverName}}</td>
  </tr>
</table>
<!-- <h1>{{title |uppercase}}</h1> -->
<!-- <div *ngFor="let item for data"> -->
<!-- <h2>{{data|json}}</h2><br>

{{50 |currency: 'USD'}}
<br>

{{date|date:"fullDate"}} -->
<!-- </div> -->

<!-- <app-previewphoto></app-previewphoto> -->

<router-outlet></router-outlet>

<!-- <app-dynamic-validation></app-dynamic-validation> -->
<app-employeelist></app-employeelist>

<!-- <table>
  <th>
    <tr>Id</tr>
  </th>

  <th>
    <tr>Name</tr>
  </th>
  <th>
    <tr>Gender</tr>
  </th>
  <tr *ngFor="let  person of Persons">
    <td>{{person.id}}</td>
    <td appChange>{{person.name  |genderPipe:person.gender}}</td>
    <td>{{person.gender}}</td>
  </tr>
 
</table> -->


<mat-horizontal-stepper linear #stepper>

  <mat-step #first label="Step-1" completed="false">
    <p>First Step you designform</p>
    <div>
      <button (click)="method(first,stepper)" mat-button matStepperNext>Continue</button>
    </div>
  </mat-step>

  <mat-step #second label="Step-2" completed="false">
    <p>Second  Step you designform</p>
    <div>
      <button mat-button matStepperPrevious >Back</button>
      <button color="primary" (click)="method2(second,stepper)" mat-button matStepperNext >Next</button>

    </div>
  </mat-step>
  <mat-step  #third label="Final step" completed="false">
    <p>Final  Step you designform</p>
    <div>
      <button mat-button matStepperPrevious >Back</button>
      <button mat-button >Submit</button>

    </div>
  </mat-step>

  
</mat-horizontal-stepper>